<div>
	<% @vendor.errors.full_messages.each do |message| %>
		<p><%= message %></p>
	<% end %>
</div>

<%= form_for @vendor do |form| %>
	<%= form.label :name %>
	<%= form.text_field :name %>
<%= form.submit %>
<% end %>