<h1>Vendor Form</h1>


    <% @vendor.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>


<%= form_for @vendor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
