<%= render 'header' %>

<h1><%= @vendor.name %></h1>

<ul>
  <% if @vendor.sweets == [] %>
    <p>This vendor is new and has no sweets to sell. Check back soon!</p>
  <% else %>
    <% @vendor.sweets.each do |sweet| %>
    <% @vendorsweet = sweet.vendor_sweets.find{|vs| vs.vendor_id == @vendor.id} %>
    <li>
      <%= link_to sweet.name, sweet %> for
      <% if @vendorsweet.price > 100 %>
        $<%= @vendorsweet.price.to_s.reverse.gsub(/(\d{2})/, '\\1.').reverse %>
      <% else %>
        <%= @vendorsweet.price %>¢
      <% end %>
      <%= button_to "Edit Item", edit_vendor_sweet_path(@vendorsweet), method: :get %>
      <br>
    </li>
  <% end %>
<% end %>
</ul>
<%= link_to "List New Sweet for Sale", new_vendor_sweet_path(vendor: @vendor) %>
