<!DOCTYPE html>
<html>
  <head>
    <title>RailsImmersiveAssessmentAlternateFirstRound</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Sweets Index", sweets_path %><br>
    <%= link_to "Vendor Index", vendors_path %>

    <hr>
    <%= yield %>
  </body>
</html>
