<!DOCTYPE html>
<html>
  <head>
    <title>RailsImmersiveAssessmentAlternateFirstRound</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Vendors Index", vendors_path%><br>
  	<%= link_to "Sweets Index", sweets_path%><br>
  	<%= link_to "VendorSweets Index", vendor_sweets_path%>

    <%= yield %>
  </body>
</html>
